h1= title
p Welcome to #{title}
br
form(method='link',
     action='/colorpicker')
  input(type='submit',
        class="ui-button ui-widget ui-state-default ui-corner-all",
        value="Pick Your Favorite Shade of OLIVE") 
br

