h1= title
p A User on OLIVE

p Username: #{user.username}
p First Name: #{user.first}
p Last Name: #{user.last}
p Email: #{user.email}
p Favorite Color: #{user.fav_color}
p Birthday: #{user.dob}
p Member Since: #{user.created_at}
p Toggle: #{user.c_toggle}
p Friends: 
