h1= title
h3 #{user.username}

ol
  li 
    label Username: 
    p #{user.username}&nbsp; 
  li 
    label First Name: 
    p #{user.first}&nbsp;
  li 
    label Last Name: 
    p #{user.last}&nbsp;
  li 
    label Email: 
    p #{user.email}&nbsp;
  li 
    label Favorite Color: 
    p #{user.fav_color}&nbsp;
  li 
    label Birthday: 
    p #{user.dob}&nbsp;
  li 
    label Member Since: 
    p #{user.created_at}&nbsp; 
  li 
    label Toggle: 
    p #{user.c_toggle}&nbsp;
  li 
    label Friends: 
    p None&nbsp;